<link rel="stylesheet" href="css/login.css">
<div class="formwrapper">
  <div class="formcard">
    <div class="cardheader">
      <h4>User Login</h4>
    </div>
    <div class="cardbody">
      <%- include('../partials/messages') %>
      <p class="textmuted">Log in to your Expense Management system.</p>
      <hr class="line">

      <form action="/login" method="POST">
        <div class="input">
          <label for="username" class="formlabel">Username</label>
          <input type="text" class="formcontrol" id="username" name="username" required>

          <label for="password" class="formlabel">Password</label>
          <input type="password" class="formcontrol" id="password" name="password" required>
        </div>

        <div class="buttons">
            <button type="submit" class="btn-login">Login</button>
            <a href="/signup" class="btn-signup ">New Company? Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>

